/*GENERAL STYLES*/
body {
  width: 100%;
  padding: 0;
  margin: auto;
}

input {
  font-size: 3em;
  text-transform: uppercase;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #eee;
}

input:focus {
  font-family: "Londrina Solid";
  text-align: center;
  outline: none;
}

select {
  font-size: 200%;
  font-family: "Bungee Inline";
  margin: 2.5% 4%;
}

li {
  list-style: none;
}

button {
  font-family: "Bungee Inline";
  font-size: 200%;
  height: fit-content;
  width: 20%;
  margin: 3%;
}

.button_wrapper {
  display: flex;
  justify-content: center;
}

header,
#introduction_div,
#name,
#attribute,
#origin,
#job,
#class,
#background,
#derived_stats,
#ability_list,
#miracles,
#items {
  width: 100%;
}

#background h3,
#derived_stats h3,
#ability_list h3,
#miracles h3,
#items h3 {
  font-size: 300%;
}

h1 {
  font-family: "Monoton";
  font-size: 250%;
  text-align: center;
  margin: auto;
}

h2,
h3 {
  font-family: "Bungee Inline";
  margin: auto;
  width: 90%;
}

p {
  font-family: "Londrina Solid";
  font-size: 200%;
  width: 90%;
  margin: auto;
}

#origin_pick,
#job_pick,
#class_pick,
.wrapper {
  width: 90%;
  margin: auto;
}

.stats_ul {
  font-family: "Londrina Solid";
  font-size: 230%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2% auto;
  padding: 1.5% 0;
  height: fit-content;
  width: 100%;
}

.wrapper {
  font-family: "Londrina Solid";
  font-size: 230%;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.stats_li {
  margin-bottom: 2.5%;
}

/*HEADER SECTION*/
header {
  width: 100%;
}

header h2 {
  text-align: center;
}

header h1,
header h2 {
  height: fit-content;
  width: 100%;
  margin: 0;
  padding: 0;
}

/*NAME SECTION*/
#name_field {
  width: 100%;
}

/*ATTRIBUTE SECTION*/
#attribute_list {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 100%;
  padding: 0;
  justify-content: space-around;
}

.attributes {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 18%;
}

.attributes h3 {
  font-size: 250%;
  width: 100%;
}

.modifiers {
  font-family: "Bungee Inline";
  font-size: 325%;
  width: 50%;
  margin-bottom: 8%;
}
/*CLASS BACKGROUND SECTION*/
.wrapper .stats_ul {
  font-size: 120%;
  width: 90%;
  border: 1px solid green;
}

.wrapper .stats_ul .stats_li {
  text-align: center;
}

/*ABILITIES SECTION*/
#ability_wrapper ul {
  font-size: 150%;
}

#miracles .wrapper {
  width: 90%;
  margin: 2.5% auto;
}

#miracles .info {
  font-size: 130%;
}

#miracles button {
  font-size: 100%;
  width: fit-content;
  margin: 2% auto;
}
/*FOOTER STYLES*/

/*COLOR*/
h2,
h3 {
  color: #7f0000;
}

#name,
#attribute,
#origin,
#job,
#class,
#background,
#derived_stats,
#ability_list,
#miracles,
#items {
  border-bottom: 2px solid #d48c24;
  padding-bottom: 3%;
}

#name_field {
  border-bottom: 2px solid #000000;
}

.attributes,
.modifiers {
  border: 1px solid #666666;
}

.attributes h3 {
  color: #7f0000;
}

#origin_pick,
#job_pick,
#class_pick {
  border: 1px solid #7f0000;
}

#miracles .wrapper {
  border: 1px solid #d48c24;
}

/*MEDIA QUERIES*/
